<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/css/index.css">
    <link rel="stylesheet" href="/resources/login.css">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
   <script src="/resources/bootstrap/bootstrap.bundle.min.js"></script>
   <script src="/resources/bootstrap/bootstrap.min.js"></script>
   <script src="/resources/bootstrap/popper.min.js"></script>



    <title>Inicio de sesion - IngressCloud</title>
</head>

<body>
    <header class="inicio">
        <form action="/save10" method="POST" id="form">
        <div class="form">
            <h1>Inicia sesión</h1><br><br>
            </div>
            <div class="grupo">
                <input type="email" name="email" id="email" required><span class="barra"></span>
                <label for="">Correo</label>
            </div>
            <div class="grupo">
            <input type="text" name="password" id="password" required><span class="barra"></span>
            <label for="">Contraseña</label>
            </div>
            <button type="submit">Crear</button>
        </div>
    </form>
    </header>
</body>


</html>